body {
    width: 1000px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border: 3px solid black;
  }

.tg {
    border-collapse: collapse;
}

.tg td {
    border-color: black;
    border-style: solid;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 5px;

}

.tg th {
    border-color: black;
    border-style: solid;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 5px;

}

.tg .tg-0lax {
    text-align: center;
}

.center {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
